
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Apartment Address</th>
        <th>Unit Num.	</th>
        <th scope="col">Model</th>
        <th scope="col">Num. Of Beds</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>4871 Alfred Drive, Jamaica, New York - 11432</td>
        <td>121</td>
        <td>New</td>
        <td>5</td>
        <td>$300</td>
        <td><a [routerLink]="['/apartment-rentals/book-apartment', '1']">Book</a></td>
      </tr>
      
    </tbody>
  </table>