<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-white bg-primary">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-building-o fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="col-9 text-right">
                        <div class="huge">26</div>
                        <div>Apartment Rentals</div>
                    </div>
                </div>
            </div>
            <a routerLink="/apartment-rentals">
                <div class="card-footer">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-white bg-success">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-home fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="col-9 text-right">
                        <div class="huge">26</div>
                        <div>Home Rentals</div>
                    </div>
                </div>
            </div>
            <a routerLink="/apartment-rentals">
                <div class="card-footer">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-white bg-warning">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-bed fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="col-9 text-right">
                        <div class="huge">26</div>
                        <div>Hotel Rentals</div>
                    </div>
                </div>
            </div>
            <a routerLink="/apartment-rentals">
                <div class="card-footer">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>