<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-header">
              Apartment Information
          </div>
          <div class="card-body">
              <p>Num. of beds: 5</p>
              <p>Unit Number: 121</p>
              <p>Address: 4871 Alfred Drive, Jamaica, New York - 11432</p>
          </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-lg-9 mt-4">
      <div class="card">
          <div class="card-header">
              Guest Information
          </div>
          <div class="card-body">
              <form [formGroup]="apartmentBookForm" (ngSubmit)="bookApartment()" novalidate="novalidate" autocomplete="off"> 
                  <div class="form-group">
                      <label for="firstName">First Name</label>
                      <input type="text" class="form-control" [ngClass]="{'is-invalid': apartmentBookForm.controls['firstName'].errors && !apartmentBookForm.controls['firstName'].pristine}" placeholder="First Name"  name="firstName" id="firstName" formControlName="firstName" required/>
                      <div *ngIf="apartmentBookForm.controls['firstName'].errors && !apartmentBookForm.controls['firstName'].pristine" class="invalid-feedback">
                          <div [hidden]="!apartmentBookForm.controls['firstName'].errors.required">First Name is required.</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="lastName">Last Name</label>
                      <input type="text" class="form-control" [ngClass]="{'is-invalid': apartmentBookForm.controls['lastName'].errors && !apartmentBookForm.controls['lastName'].pristine}" placeholder="Last Name" name="lastName" id="lastName" formControlName="lastName" required />
                      <div *ngIf="apartmentBookForm.controls['lastName'].errors && !apartmentBookForm.controls['lastName'].pristine" class="invalid-feedback">
                          <div [hidden]="!apartmentBookForm.controls['lastName'].errors.required">Last Name is required.</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" [ngClass]="{'is-invalid': apartmentBookForm.controls['email'].errors && !apartmentBookForm.controls['email'].pristine}" placeholder="Email" name="email" id="email" formControlName="email" required />
                      <div *ngIf="apartmentBookForm.controls['email'].errors && !apartmentBookForm.controls['email'].pristine" class="invalid-feedback">
                          <div [hidden]="!apartmentBookForm.controls['email'].errors.required">Email is required.</div>
                          <div [hidden]="!apartmentBookForm.controls['email'].errors.patternInvalid">Email is invalid.</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="phoneNumber">Phone Number</label>
                      <input type="text" class="form-control" [ngClass]="{'is-invalid': apartmentBookForm.controls['phoneNumber'].errors && !apartmentBookForm.controls['phoneNumber'].pristine}" placeholder="Phone Number" name="phoneNumber" id="phoneNumber" formControlName="phoneNumber" required />
                      <div *ngIf="apartmentBookForm.controls['phoneNumber'].errors && !apartmentBookForm.controls['phoneNumber'].pristine" class="invalid-feedback">
                          <div [hidden]="!apartmentBookForm.controls['phoneNumber'].errors.required">Phone Number is required.</div>
                      </div>
                  </div>
                  <div class="form-group" >
                      <label for="addressLine1">Address Line 1</label>
                      <input type="text" class="form-control" [ngClass]="{'is-invalid': apartmentBookForm.controls['addressLine1'].errors && !apartmentBookForm.controls['addressLine1'].pristine}" placeholder="Address Line 1" name="addressLine1" id="addressLine1" formControlName="addressLine1" required />
                      <div *ngIf="apartmentBookForm.controls['addressLine1'].errors && !apartmentBookForm.controls['addressLine1'].pristine" class="invalid-feedback">
                          <div [hidden]="!apartmentBookForm.controls['addressLine1'].errors.required">Address Line1 is required.</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="addressLine2">Address Line 2</label>
                      <input type="text" class="form-control" placeholder="Address Line 2" name="addressLine2" id="addressLine2" formControlName="addressLine2"/>
                  </div>
                  <div class="form-group" >
                      <label for="city">City</label>
                      <input type="text" class="form-control" [ngClass]="{'is-invalid': apartmentBookForm.controls['city'].errors && !apartmentBookForm.controls['city'].pristine}" placeholder="City" name="city" id="city" formControlName="city" required />
                      <div *ngIf="apartmentBookForm.controls['city'].errors && !apartmentBookForm.controls['city'].pristine" class="invalid-feedback">
                          <div [hidden]="!apartmentBookForm.controls['city'].errors.required">City is required.</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="state">State</label>
                      <input type="text" class="form-control" [ngClass]="{'is-invalid': apartmentBookForm.controls['state'].errors && !apartmentBookForm.controls['state'].pristine}" placeholder="State" name="state" id="state" formControlName="state" required />
                      <div *ngIf="apartmentBookForm.controls['state'].errors && !apartmentBookForm.controls['state'].pristine" class="invalid-feedback">
                          <div [hidden]="!apartmentBookForm.controls['state'].errors.required">State is required.</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="zip">Zip</label>
                      <input type="text" class="form-control" [ngClass]="{'is-invalid': apartmentBookForm.controls['zip'].errors && !apartmentBookForm.controls['zip'].pristine}" placeholder="Zip" name="zip" id="zip" formControlName="zip" required />                      
                      <div *ngIf="apartmentBookForm.controls['zip'].errors && !apartmentBookForm.controls['zip'].pristine" class="invalid-feedback">
                          <div [hidden]="!apartmentBookForm.controls['zip'].errors.required">Zip is required.</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="country">Country</label>
                      <input type="text" class="form-control" [ngClass]="{'is-invalid': apartmentBookForm.controls['country'].errors && !apartmentBookForm.controls['country'].pristine}" placeholder="Country" name="country" id="country" formControlName="country" required />                      
                      <div *ngIf="apartmentBookForm.controls['country'].errors && !apartmentBookForm.controls['country'].pristine" class="invalid-feedback">
                          <div [hidden]="!apartmentBookForm.controls['country'].errors.required">Country is required.</div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <div class="col-md-4 col-lg-3 mt-4">
      <div class="card">
          <div class="card-header">
              Book Apartment
          </div>
          <div class="card-body">
              <p>Price: $50</p>
              <button class="button" class="btn btn-primary  btn-block"  [disabled]="apartmentBookForm.invalid" (click)="bookApartment()">Book Now</button>
          </div>
      </div>
  </div>
</div>
