<div class="card">
    <div class="card-header">
        Forgot Password
    </div>
    <div class="card-body">
        <p class="text-center">Lost your password? Please enter your email address. You will receive a new password.</p>
        <form [formGroup]="forgotPasswordForm" novalidate="novalidate" (ngSubmit)="sendPassword()">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid': forgotPasswordForm.controls['email'].errors && !forgotPasswordForm.controls['email'].pristine}"  id="email" name="email" formControlName="email" placeholder="email" required>
                <div *ngIf="forgotPasswordForm.controls['email'].errors && !forgotPasswordForm.controls['email'].pristine" class="invalid-feedback">
                    <div [hidden]="!forgotPasswordForm.controls['email'].errors.required">Email is required.</div>
                    <div [hidden]="!forgotPasswordForm.controls['email'].errors.patternInvalid">Email is invalid.</div>
                </div>
            </div>
    
            <div class="form-group">
                <button type="submit" class="btn btn-primary  btn-block">Submit</button>
            </div>
        </form>
        <a routerLink="/sign-up" class="card-link">Create new account</a>
        <a routerLink="/sign-in" class="card-link float-right">Sign In</a>

    </div>
</div>